.event-container {
  text-align: center;
}

.event-container select {
  padding: 8px;
  margin-right: 10px;
}

.event-container button {
  padding: 8px 12px;
  background-color: #004aad;
  color: white;
  border: none;
}

.event-list {
  margin-top: 20px;
}

.event-list p{
  color: rgb(73, 72, 72);
  background-color: rgb(170, 169, 169);
  width: 30%;
}

.event-item {
  background: #f2f2f2;
  padding: 8px;
  border-radius: 4px;
  margin: 5px auto;
  width: 50%;
}
