.dashboard-container {
  text-align: center;
}

.dashboard-container h2{
  color: rgb(121, 121, 247);
}

.dashboard-links {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.dashboard-links a {
  background-color: #004aad;
  color: white;
  padding: 10px 18px;
  text-decoration: none;
  border-radius: 4px;
}

.dashboard-links a:hover {
  background-color: #003480;
}
