.login-container {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}

.login-container h2{
  color: rgb(121, 121, 247);
}

.login-container form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-container input {
  padding: 10px;
  border: 1px solid #ccc;
}

.login-container button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #003480;
}
