.profile-container {
  text-align: center;
}

h2{
  color: rgb(121, 121, 247);
}

.profile-card {
  background: #f4f4f4;
  padding: 20px;
  display: inline-block;
  border-radius: 8px;
  margin-top: 20px;
}
