.forum-list {
  max-width: 600px;
  margin: auto;
}

.forum-list h2{
  color: rgb(121, 121, 247);
}


.new-post-btn {
  background-color: #004aad;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
}

.forum-list ul {
  list-style: none;
  padding: 0;
}


.forum-list li {
  background: #eee;
  padding: 10px;
  margin: 8px 0;
  border-radius: 4px;
}
