.notes-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

h2{
  color: rgb(121, 121, 247);
}

textarea {
  width: 100%;
  height: 150px;
  padding: 10px;
}

.summary-box {
  background: #f0f0f0;
  padding: 12px;
  margin-top: 10px;
  border-radius: 6px;
}
