.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1e1e2f;
  color: white;
  gap: 1%;
}

.navbar-logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  justify-content: center;
  gap: 10%;
  list-style: none;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}

.navbar-links a:hover {
  color: #ffcc00;
}

.navbar-auth {
  display: flex;
  gap: 12px;
}

.login-btn,
.signup-btn {
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.login-btn {
  background-color: transparent;
  color: white;
  border: 1px solid #ffcc00;
}

.login-btn:hover {
  background-color: #ffcc00;
  color: #1e1e2f;
}

.signup-btn {
  background-color: #ffcc00;
  color: #1e1e2f;
  border: 1px solid #ffcc00;
}

.signup-btn:hover {
  background-color: transparent;
  color: #ffcc00;
}

