.predictor-container {
  text-align: center;
  margin-top: 30px;
}

h2{
  color: rgb(121, 121, 247);
}

.predictor-container input {
  padding: 8px;
  margin: 8px;
}

.predictor-container button {
  padding: 8px 16px;
  background-color: #004aad;
  color: white;
  border: none;
}
